@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);
* {
  box-sizing: border-box; }

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px; }

.flex-content-wrapper {
  background-color: #e1e3e4;
  display: flex;
  flex-direction: column; }

.flex-thumbnail-wrapper {
  display: flex;
  flex: 1;
  margin: 10px 0px 20px 0px;
  justify-content: space-around; }

.flex-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.header {
  color: #313131;
  font-size: 16px; }

.header__btn {
  align-items: center;
  background-color: #313131;
  border: none;
  color: #e1e3e4;
  display: flex;
  height: auto;
  justify-content: center;
  padding: 0px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s; }
  .header__btn:hover {
    background-color: #4b4b4b;
    color: #fff; }

.header__btn--isOpen {
  margin-left: -125px; }

.header__btn--nav {
  background-color: transparent;
  color: #313131;
  display: none;
  font-size: 14px;
  font-weight: 300; }
  .header__btn--nav:hover {
    background-color: #fff; }

.header__btn--site {
  background-color: #66a8a1;
  color: #fff; }

.header__content {
  border-bottom: 1px solid #d2d6d5;
  padding: 10px 10px;
  text-align: right; }

.header__content--flex {
  display: flex;
  justify-content: flex-end; }

.header__content--flex-menu-row {
  display: flex;
  justify-content: space-between;
  height: 66px;
  padding: 0px 0px 0px 10px;
  position: relative;
  width: 100%;
  transition: all 0.3s; }

.header__content--dark-bg {
  background-color: #e1e3e4; }

.header__link {
  color: #313131;
  font-size: 16px;
  margin-left: 10px;
  text-decoration: underline; }
  .header__link:hover {
    text-decoration: none; }

.header__logo {
  align-items: center;
  display: flex;
  font-size: 26px;
  flex: 6; }

.header__logo__text {
  text-transform: uppercase; }
  .header__logo__text span {
    color: #66a8a1; }

.header__text {
  color: #a6abab;
  font-size: 16px;
  font-weight: 300; }

.fix-top {
  background-color: #fff;
  position: fixed;
  top: 0; }

/*
  screen over 1100px
*/
@media screen and (min-width: 1100px) {
  .header__btn--nav {
    display: flex; }
  .header__btn--site {
    display: flex; } }

.rating {
  align-items: center;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
  margin: 10px 5px; }

.rating--end {
  align-items: flex-end; }

.rating__img-wrapper {
  align-items: center;
  background-color: transparent;
  border: 5px solid red;
  border-radius: 50%;
  color: red;
  display: flex;
  justify-content: center;
  min-height: 70px;
  width: 70px; }

.rating__img-wrapper--blue {
  border: 5px solid blue; }

.rating__img-wrapper--dark {
  border: 5px solid #313131; }

.rating__img-wrapper--green {
  border: 5px solid green; }

.rating__img-wrapper--yellow {
  border: 5px solid yellow; }

.rating__percentage__text {
  color: #313131;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase; }

.rating__percentage__text--big {
  font-size: 30px;
  line-height: 30px; }

.rating__text {
  text-transform: uppercase; }

.post {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding: 50px 0px;
  overflow: hidden;
  width: 90%; }

.post__content {
  border-bottom: 1px solid #d2d6d5;
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 10px 0px; }

.post__content--rating {
  border: 0px solid;
  justify-content: flex-start; }

.post__content--start {
  justify-content: flex-start; }

.post__content--column {
  border-bottom: 0px solid #d2d6d5;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start; }

.post__date {
  font-size: 16px;
  padding: 10px 0px; }

.post__content--desktop {
  display: none; }

.post__header {
  margin: 0px 5%;
  font-weight: 300; }

.post__img-wrapper {
  flex: 1 1; }

.post__img-wrapper__img {
  width: 100%; }

.post__text {
  font-weight: 300;
  padding: 5px; }

.post__text--muted {
  color: #a6abab;
  transition: color 0.5s; }
  .post__text--muted:hover {
    color: #313131; }

.post__text--last-row {
  flex: 1 1;
  padding-top: 20px; }

.post__title {
  font-size: 26px;
  font-weight: bold; }

@media screen and (min-width: 700px) {
  .post {
    flex-direction: row; }
  .post__img-wrapper {
    padding-right: 10px; }
  .post__content--desktop {
    display: flex; }
  .post__text--last-row {
    flex: 0 0 auto; } }

.thumbnail {
  display: flex;
  flex: 1 1 46%;
  margin: 10px 10px;
  flex-direction: column; }

.thumbnail-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%; }

.thumbnail__img-wrapper {
  flex: 1; }

.thumbnail__img__wrapper__img {
  width: 100%; }

.thumbnail__text {
  font-weight: 300; }

.thumbnail__text--author {
  color: #66a8a1; }

.thumbnail__text--bold {
  font-weight: 400; }

/*
  larger than 1020px
*/
@media screen and (min-width: 1020px) {
  .thumbnail {
    flex: 0 1 calc(33.3333% - 20px); } }

.flex-nav {
  align-content: flex-start;
  background-color: #313131;
  display: flex;
  flex-direction: column;
  height: 100vh;
  list-style: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  position: relative;
  width: 0px;
  text-align: left;
  transition: width 0.5s ease-in-out;
  z-index: 99999; }

.flex-nav__item {
  align-items: center;
  display: flex;
  padding-left: 20px;
  width: 100%; }

.flex-nav__item:first-child {
  padding-top: 25px; }

.flex-nav__link {
  color: #a6abab;
  flex: 1;
  font-size: 26px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase; }
  .flex-nav__link:hover {
    color: #fff; }

.flex-nav--isOpen {
  width: 200px; }
