@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);
* {
  box-sizing: border-box;
}


body  {
  font-family: "Source Sans Pro", sans-serif;
  //background: rgba(purple, 0.5);
  //background: linear-gradient( 90deg, $color-orange 0%, $color-orange 30%, $color-purple 100%);
  margin: 0px;
  //height: 100vh;
}

