$color-red: red;
$color-purple: rgba(186,10,255,1);
$color-orange: rgba(255,175,75,1);
$color-green: #66a8a1;
$color-white: #fff;
$color-dark: #313131;
$color-dark-lite: lighten($color-dark, 10%);
$color-gray-md: #d2d6d5;
$color-gray: #e1e3e4;
$color-gray-dark: #a6abab;