.flex-nav {
  align-content: flex-start;
  background-color: $color-dark;
  display: flex;
  flex-direction: column;
  height: 100vh;
  list-style: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  position: relative;
  width: 0px;
  text-align: left;
  transition: width 0.5s ease-in-out;
  z-index: 99999;

}
.flex-nav__item {
  align-items: center;
  display:flex;
  //flex:1;
  padding-left: 20px;
  width: 100%;
}
.flex-nav__item:first-child {
 padding-top: 25px;
}
.flex-nav__link {
  color: $color-gray-dark;
  flex:1;
  font-size: $text-lg;
  line-height: $text-lg +10;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $color-white;
  }
}

.flex-nav--isOpen {
  //display:block;
  width: 200px;
  //margin: 0px 0px;
}

.flex-nav-wrapper {
  //width:0px;
}