.header {
  color: $color-dark;
  font-size: $text-md;
}
.header__btn {
  align-items: center;
  background-color: $color-dark;
  border:none;
  color: $color-gray;
  display: flex;
  height: auto;
  //flex: 1;
  justify-content: center;
  padding: 0px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
  &:hover {
    background-color: $color-dark-lite;
  }
}
.header__btn--isOpen {
  margin-left: -125px;
}
.header__btn--nav {
  background-color: transparent;
  color: $color-dark;
  display: none;
  font-size: $text-sm;
  font-weight: 300;
  &:hover {
    background-color: $color-white;
  }
}
.header__btn--site {
  background-color: $color-green;
  color: $color-white;
  //display: none;
}
.header__content {
  border-bottom: 1px solid $color-gray-md;
  padding: 10px 10px;
  text-align: right;
}
.header__content--flex {
  display: flex;
  justify-content: flex-end;
}
.header__content--flex-menu-row {
  //align-items: center;
  display: flex;
  justify-content: space-between;
  height: 66px;
  padding: 0px 0px 0px 10px;
  position: relative;
  width: 100%;
  transition: all 0.3s;
}
.header__content--dark-bg {
  background-color: $color-gray;
}
.header__link {
  color: $color-dark;
  font-size: $text-md;
  margin-left: 10px;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
.header__logo {
  align-items: center;
  display: flex;
  font-size: $text-lg;
  flex: 6;
}
.header__logo__text {
  text-transform: uppercase;
  span {
    color: $color-green;
  }
}
.header__text {
  color: $color-gray-dark;
  font-size: $text-md;
  font-weight: 300;
}

.fix-top {
  background-color: $color-white;
  position: fixed;
  top:0;
}

/*
  screen over 1100px
*/
@media screen and ( min-width: 1100px) {
  .header__btn--nav {
    display: flex;
  }
  .header__btn--site {
    display: flex;
  }
}