.thumbnail {
  display: flex;
  //flex:0;
  margin: 10px 10px;
  flex-direction: column;
  width: 46%;
}
.thumbnail-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
}
.thumbnail__img-wrapper {
 flex:1;
}
.thumbnail__img__wrapper__img {
  width: 100%;
}
.thumbnail__text {
  font-weight: 300;
}
.thumbnail__text--author {
  color: $color-green;
}
.thumbnail__text--bold {
  font-weight: 400;
}

/*
  larger than 1020px
*/
@media screen and (min-width: 1020px){
  .thumbnail {
    width: calc(33.3333% - 20px);
  }
}